@import "tailwindcss";

/* Import Proxima Nova font */
@font-face {
    font-family: "Proxima Nova Regular";
    src: url("https://db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot");
    src: url("https://db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0376a58122a881d16a294512d3c947b1.svg#Proxima Nova Regular")format("svg");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

main{
  font-family: 'Proxima Nova', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Proxima Nova', sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 3px 3px 6px rgba(238, 123, 123, 0.6);
  }
  .text-shadow-lg {
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.73);
  }
  .text-shadow-xl {
  text-shadow: 
    3px 3px 6px rgba(0, 0, 0, 0.7),
    6px 6px 16px rgba(0, 0, 0, 0.6);
  }
  .text-shadow-footer {
    text-shadow: 2px 2px 6px rgba(192, 85, 85, 0.5);
  }
  .bg-transparent {
    background-color: transparent;
  } 
}